# Dependencies
**/node_modules/

# Local Environment
.env*
!.env.example

# Build directory
.webpack
.serverless

# Husky
.husky/_

# Others
**/npm-debug.log

# IDE Specific
.idea
.vscode

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
